<div class="callout callout-info">
    <div class="container">
    <h4>Welcome to the demo site for UserFrosting 4!</h4>
    <ul>
        <li>
            <b>Be sure to register with a valid email address.</b> Then check your email and click on the verification link.
        </li>
        <li>
            When you sign in, you will be placed in your own <b>brand new </b>user group.
        </li>
        <li>
            As the 'group administrator' you will be able to view, create, update, and delete user accounts <b>in this group.</b>
        </li>
    </ul>
    </div>
</div>