<div class="callout callout-info">
    <h4>Welcome to the demo site for UserFrosting 4!</h4>
    A few things to note:
    <ul>
        <li>
            You will need to verify your new account by email before you will be able to log in.  <b>Be sure to register with a valid email address so that you can receive the verification email.</b>
        </li>
        <li>
            For the purposes of this demo, you will be placed in your own, brand new user group when you register your account.</li>
        <li>
            You will be made the 'group administrator' for this new group, which will allow you to view, create, update, and delete user accounts <b>in this group.</b>
        </li>
    </ul>
</div>
